<!--menu-->
<header>
  <nav>
    <div class="nav-wrapper light-blue">
      <div class="container">
        <a href="#" class="brand-logo">
          TeachFono
        </a>
        <a href="#" data-target="slide-out" class="sidenav-trigger">
          <i class="material-icons">menu</i>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <a href="/">Home</a>
            <a href="/pdf">PDF dos Subsistemas</a>
            <a href="/sub">Subsistemas da linguaguem</a>
            <a href="/hipotese">Hipóteses de escritas</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <ul id="slide-out" class="sidenav light-blue" #mobile>
    <li>
      <a href="/">Home</a>
      <a href="/pdf">PDF dos Subsistemas</a>
      <a href="/sub">Subsistemas da linguaguem</a>
      <a href="/hipotese">Hipóteses de escritas</a>
    </li>
  </ul>
</header>
