<div class="row">
  <div class="col-12">
    <h4 class="text-center">HIPÓTESES DE ESCRITAS</h4>
  </div>

  <div class="col-12 mt-3">
    <p>
      Para avaliarmos o processo de alfabetização é necessário coletar dos alunos suas respectivas escritas, ou seja,
      realizar uma sondagem e a partir da mesma, classificar de acordo ao suporte teórico que são as hipóteses de
      escrita. Posteriormente a esse processo, classificamos de acordo com as hipóteses de escrita, sendo elas:
      Pré-silábica, Silábica, Silábica alfabética e Alfabética.
    </p>
    <br>
    <p>
      <b>PRÉ-SILÁBICA</b>: Garatuja ou letras aleatórias SEM correspondência com o som;
      <br>EXEMPLO:
      <br>
      <img src="assets/img/hipotese-1.png" class="img-thumbnail" alt="pre-silabica">
    </p>
    <br>
    <p>
      <b>SILÁBICA</b>: Nesta fase a criança já pode relacionar a escrita à fala e para cada fonema, se utiliza de uma
      letra para representá-lo.
      <br>EXEMPLO:
      <br>
      <img src="assets/img/hipotese-2.png" class="img-thumbnail" alt="silabica">
      <br>
    </p>
    <p>
      <b>SILÁBICA ALFABÉTICA</b>: Passa a perceber a necessidade de mais uma letra na formação da sílaba, facilitando a
      identificação dos demais os sons/fonemas da palavra.
      <br>EXEMPLO:
      <br>
      <img src="assets/img/hipotese-3.png" class="img-thumbnail" alt="silabica-alfabetica">
    </p>
    <br>
    <p>
      <b>ALFABÉTICA</b>: Nesta hipótese, é a fase final deste processo, o aluno já conhece o valor sonoro de todas ou quase todas as letras e já apresenta uma constância na escrita das palavras.
      <br>EXEMPLO:
      <br>
      <img src="assets/img/hipotese-4.png" class="img-thumbnail" alt="alfabetica">
    </p>
  </div>
</div>
