<div class="row">
  <div class="col-12">
    <h4 class="text-center">SUBSISTEMAS DA LINGUAGEM</h4>
  </div>

  <div class="col-12 mt-3">
    <p>
      <b>FONOLOGIA</b>: É o subsistema responsável pelos sons da língua, referente ao modo de organização e
      funcionamento dos sons da língua.
    </p>
    <p>
      Habilidades importantes para o domínio do subsistema: <br>
      - Articulação dos fonemas<br>
      - Manipulação dos sons (rima, aliteração)<br>
      - Correspondência letra-som<br>
    </p>
    <br>
    <p>
      <b>MORFO-SINTAXE</b>: A formação e a classificação da palavra guiada por uma organização na frase, trás coesão
      para o que está sendo dito.
    </p>
    <p>
      Habilidades importantes para o domínio do subsistema: <br>
      - Complexidade das produções <br>
      - Entendimento da organização frasal<br>
      - Domínio de conjunções e artigos <br>
    </p>
    <br>
    <p>
      <b>SEMÂNTICA</b>: É sobre o vocabulário em si, abrange a sua extensão, a quantidade de palavras e a profundidade,
      o conhecimento do termo.
    </p>
    <p>
      Habilidades importantes para o domínio do subsistema: <br>
      - Quantidade de palavras utilizadas nas frases (extensão frasal) <br>
      - Significado das palavras <br>
      - Conhecer sinônimos das palavras <br>
      - Conhecer antônimos das palavras <br>
    </p>
    <br>
    <p>
      <b>PRAGMÁTICA</b>: O modo em que se usa a linguagem, faz parte da coerência.
    </p>
    <p>
      Habilidades importantes para o domínio do subsistema: <br>
      - Entonação <br>
      - Estrutura da narrativa (começo, meio e fim) <br>
      - Contexto <br>
      - Entender a linguagem não verbal <br>
    </p>
  </div>

</div>
