<div class="row mb-3">
  <div class="col-12">

    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">
          PDF dos subsistemas
        </p>
        <button type="button" class="btn btn-outline-success" (click)="go('pdf')">Ver mais</button>
      </div>
    </div>

  </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        Subsistemas da linguaguem
        <button type="button" class="btn btn-outline-success" (click)="go('sub')">Ver mais</button>
      </div>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        Hipóteses de escritas
        <button type="button" class="btn btn-outline-success" (click)="go('hipotese')">Ver mais</button>
      </div>
    </div>
  </div>
</div>
